h1 {
  text-align: center;
}

#container {
  /* display: flex;
  justify-content: center; */
  min-width: 800px;
  min-height: 50vh;
  background-image: url('./images/weather.jpg');
  background-size: cover;
  padding: 0;
  border-radius: 10px;
}

#col1 {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 20px;
  /* height: 100vh; */
  margin: 0;

}

#col2 {
  display: flex;
  justify-content: center;
  padding: 0 10px 0 5px;
  color: black;
  font-weight: 900;
  font-size: 18px;
}

#row2 {
  margin: 0;
  padding: 0;
}
